<div class ="container-fluid">
    <div class = "top-section">

    </div>
    <div class = "container my-3">
        <div class = "d-flex justify-content-between align-items-center">
            <h1><span style="color: blueviolet;font-weight: 500;">Events</span> Around You</h1>


            <div [formGroup] = "searchBarForm"> 
                <div class = "d-flex justify-content-center">
                    <div clas = "weekdays">
                        <select formControlName = "eventType" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected value = "">Event type</option>
                            <option value="0">Free</option>
                            <option value="1">Paid</option>
                        </select>
    
                    </div>
                    <div class = "eventtype mx-4">
                        <select formControlName = "cityType" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option selected value = "">City</option>
                            <option *ngFor = "let city of locationList" value = {{city}}>{{city | titlecase}}</option>
                        </select>
                    </div>
                 </div>
            </div>
        </div>  
    </div>
    <div class = "container" *ngIf = "filteredGroupedEvents && filteredGroupedEvents.length > 0">
        <div class = "cat-events mt-3" *ngFor="let cat of groupedEvents | keyvalue">
            <div class = "d-flex justify-content-center"> 
                <h2 style="color: #EF767A; font-size: x-large;">{{cat.key | titlecase}}</h2>
            </div>
            <div class = "containers row">
                <div class = "col-lg-4 my-2" *ngFor = "let item of filteredGroupedEvents | paginate : {itemsPerPage : 10, currentPage : 1}">
                    <app-user-event-details-card [eventDetails]="item"></app-user-event-details-card>   
                </div>
             
            </div>
        </div>
    </div>    
    <div *ngIf = "filteredGroupedEvents && filteredGroupedEvents.length == 0" class = "d-flex justify-content-center align-items-center mt-5">
        <img src= "../../../assets/images/oopeNoEventsForNow.png" alt = "oops no events available">
    </div>
</div>

<div class = "d-flex justify-content-center">
    <pagination-controls ></pagination-controls>
</div>
