<!-- <div class = "row">
    <div class = "col-lg-3 col-md-4">
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </div>
    <div class = "col-lg-3 col-md-4">
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </div>
    <div class = "col-lg-3 col-md-4">
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </div>
    <div class = "col-lg-3 col-md-4">
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </div>
</div> -->

<div class = "container">
    <div class = "text-end my-3">
        <button routerLink="/organizer/add-event" color = "primary" mat-raised-button>Add Event</button>
    </div>
</div>

<div class ="cat-events">
<div class = "containers">
    <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </ng-template> 
    <ng-template carouselSlide>
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </ng-template>    
    <ng-template carouselSlide>
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </ng-template>    
    <ng-template carouselSlide>
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </ng-template>       
    <ng-template carouselSlide>
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </ng-template>
    <ng-template carouselSlide>
        <app-event-details-card-org [eventDetails]="this._userLoginService.testingUserDetailsForSample"></app-event-details-card-org>
    </ng-template>
    </owl-carousel-o>
</div>
</div>